[client]
socket=/data/mysql/mysql.sock

[mysqld]

datadir=/data/mysql
socket=/data/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0


############# All sessions #############
character-set-server=utf8mb4
collation-server = utf8mb4_unicode_ci

#default_authentication_plugin = mysql_native_password
#sort_buffer_size = 4M
#read_buffer_size = 1M
#join_buffer_size = 1M
#read_rnd_buffer_size = 4M
#tmp_table_size = 20M
#bulk_insert_buffer_size = 8M
#thread_cache_size = 8
#table_open_cache = 4096
#########################################



############# innodb engine #############
#innodb_buffer_pool_size = 10G
#innodb_log_file_size = 128M
#innodb_log_buffer_size = 8M
#innodb_flush_log_at_trx_commit = 1
#innodb_flush_method = O_DIRECT
#innodb_buffer_pool_instances = 2
#innodb_lock_wait_timeout = 50
#innodb_io_capacity = 3000 
#innodb_io_capacity_max = 5000
#########################################


#log-bin=mysql-bin
#expire_logs_days = 2

#syslog
#log-syslog=1
#log-syslog-facility=local5

#log_slow_queries       = /var/log/mysql-slow.log
#long_query_time = 2


log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid



